<div class="main">
    <div class="main-page-content">
        <div class="main-content-title-tools">
            <h1>Les outils disponibles</h1>
        </div>
        <div class="keywords">
            <p>Mot clés / Mot clés / Mot clés / Mot clés / Mot clés / Mot clés / Mot clés / Mot clés / Mot clés / Mot clés</p>
        </div>

        <div class="line-card">
            <div class="line-card-image">
                <%= image_tag "VRgamezone.jpg" %>
            </div>
            <div class="line-card-content">
                <h2>Raconte moi ton quartier</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="line-card-link">
                <a href=""># Season 1</a>
                <a href=""># Posted on Sep 3, 2020</a>
                <a href=""># Audio / goodbyes / life</a>
            </div>
        </div>

        <div class="line-card">
            <div class="line-card-image">
                <%= image_tag "VRgamezone.jpg" %>
            </div>
            <div class="line-card-content">
                <h2>Fiche pratique carte mental</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="line-card-link">
                <a href=""># Season 1</a>
                <a href=""># Posted on Sep 3, 2020</a>
                <a href=""># Audio / goodbyes / life</a>
            </div>
        </div>

        <div class="line-card">
            <div class="line-card-image">
                <%= image_tag "VRgamezone.jpg" %>
            </div>
            <div class="line-card-content">
                <h2>Fiche jeu motus</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="line-card-link">
                <a href=""># Season 1</a>
                <a href=""># Posted on Sep 3, 2020</a>
                <a href=""># Audio / goodbyes / life</a>
            </div>
        </div>

        <div class="line-card">
            <div class="line-card-image">
                <%= image_tag "VRgamezone.jpg" %>
            </div>
            <div class="line-card-content">
                <h2>Fiche bono exemple</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="line-card-link">
                <a href=""># Season 1</a>
                <a href=""># Posted on Sep 3, 2020</a>
                <a href=""># Audio / goodbyes / life</a>
            </div>
        </div>

        <div class="line-card">
            <div class="line-card-image">
                <%= image_tag "VRgamezone.jpg" %>
            </div>
            <div class="line-card-content">
                <h2>Fiche oudordodo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="line-card-link">
                <a href=""># Season 1</a>
                <a href=""># Posted on Sep 3, 2020</a>
                <a href=""># Audio / goodbyes / life</a>
            </div>
        </div>

        <div class="line-card">
            <div class="line-card-image">
                <%= image_tag "VRgamezone.jpg" %>
            </div>
            <div class="line-card-content">
                <h2>Fiche partage autour des fiches</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="line-card-link">
                <a href=""># Season 1</a>
                <a href=""># Posted on Sep 3, 2020</a>
                <a href=""># Audio / goodbyes / life</a>
            </div>
        </div>

        <div class="line-card">
            <div class="line-card-image">
                <%= image_tag "VRgamezone.jpg" %>
            </div>
            <div class="line-card-content">
                <h2>Fiche proposition de canevas pour une fiche</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="line-card-link">
                <a href=""># Season 1</a>
                <a href=""># Posted on Sep 3, 2020</a>
                <a href=""># Audio / goodbyes / life</a>
            </div>
        </div>
    </div>
</div>