<!DOCTYPE html>
<html>
  <head>
    <title>ProjetRhs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="pc" >
        <ul class="navbar">
          <li class="img"><%= image_tag("logo-rhs.png", :alt => "logo-rhs") %></li>
          <li><a class ="menuLink" href="/">Accueil</a></li>
          <li><a class ="menuLink" href="/outils/index">Outils</a></li>
          <li><a class ="menuLink" href="/collectif/index">Collectifs RHS</a></li>
          <li><a class ="menuLink" href="/inspiration/index">Inspiration</a></li>
          <li><a class ="menuLink" href="/oudordodo/index">Oudordodo</a></li>        
          <li><a class ="menuLink" href="/contact/index">Contact</a></li>
          <li class="img"><%= image_tag("logo-header-rhs.png", :alt => "logo-rhs") %></li>

        </ul>
      </nav>

      <div class="header-blue">
      <% if current_page? ('/outils/index') %>
          <h1 class="outil-title">Les outils pédagogiques à disposition</h1>
      <% elsif current_page? ('/') %>
          <div class="container-home">
            <h1 class="home-title">
              Ressources quartiers<br>
              Solidaire<br>
              Plateforme d'outils<br>
              éducatifs et collaboratifs
            </h1>
            <div class="image-header-home">
              <%= image_tag("factice-img.png", :alt => "logo-rhs") %>
            </div>
            </div>
      <% elsif current_page? ('/collectif/index') %>
            <h1 class="h1-boogaloo">
              Raconte moi ton quartier
            </h1>
      <% elsif current_page? ('/inspiration/index') %>
            <h1 class="h1-boogaloo-inspi">
              Fiche pratique CARTE MENTALE
            </h1>
      <% elsif current_page? ('/oudordodo/index') %>
            <h1 class="h1-boogaloo">
              OUDORDODO
            </h1>
      <% elsif current_page? ('/contact/index') %>
            <h1 class="h1-boogaloo">
              Contacter le collectif
            </h1>
      <% end %>
      </div>
    </header>     
  <%= yield %>

  <footer>
    <div class="container-footer">
      <div class="footer-left">
        <p class="text-footer">
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor 
            incididunt.
        </p>
        <div class="footer-logo">
          <a><%= image_tag("facebook-rhs.png", :alt => "logo-rhs") %></a>
          <a><%= image_tag("in-rhs.png", :alt => "logo-rhs") %></a>
          <a><%= image_tag("insta-rhs.png", :alt => "logo-rhs") %></a>
          <a><%= image_tag("skype-rhs.png", :alt => "logo-rhs") %></a>
        </div>
      </div>
      <dic class="footer-right">
        <div class="list-files">
          <ul>
          <li><strong>Pages</strong</li><br>
          <br>
            <li>About</li>
            <li>Episode</li>
            <li>Blog</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="list-episodes">
          <ul>
            <li><strong>Recent Épisodes</strong></li>
            <br>
            <li>Épisodes 1</li>
            <li>Épisodes 2</li>
            <li>Épisodes 3</li>
            <li>Épisodes 4</li>
          </ul>
        </div>
    </div>
    </div>
  <div class="bar"></div>
  </footer>
  </body>
</html>
